<!DOCTYPE html>
<html lang="en">
  <head>
    <title>URL Shortener Microservice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form id="url-form">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url-input">URL:</label>
            <input id="url-input" type="text" name="url" placeholder="https://github.com/" />
            <button id="submit-btn" type="submit">Post URL</button>
          </fieldset>
        </form>
        <div id="output">
        </div>
      </section>
    </main>
    <script src="/public/script.js"></script>
  </body>
</html>
